* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./img/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./mon2.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./img/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05); /*A cor era o de cima ou o de baixo*/
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./sun2.svg);
}
/*fundo do projeto*/
body {
 
  /* background: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
*/
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}
/* Fonte google */
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}
/* caixa principal */
#container {
  width: 100%;
  max-width: 588px;
  /*height: 712px;*/
  /* borda/ border: 1px solid red; */
  margin: 56px auto 0px; /* Margem/ para deixar no centro a caixa */
  padding: 0 24px;
}

/* Profile*/
/* Imagem logo*/
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  /*display: block;
  margin: auto; alinhamento imagem(outra maneira)
  width: 112px;(usado na aula)
  */
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* switch/ botão*/
#switch {
  position: relative; /* deixar o botão dentro das bordas de switch */
  width: 64px;

  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%; /* Deixar a borda redonda*/

  position: absolute; /* sobrepor um elemento/ está em uma nova camada Pode colocar na direita, esquerda left: 0 onde quiser*/
  top: 50%;
  left: 0;
  z-index: 1;         /* Subir um andar para ir aperfeiçoando a sobreposição*/
  transform: translateY(-50%); /* alinhamento de 50% para baixo da margem junto com top: 50% para eles ficarem alinhados com o botão */

  animation: slide-back 0.2s;
}

.light #switch button {
  animation: slide-in 0.2s forwards;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* Lista Links*/
ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

ul li a {
  display: flex;    /* Formatação dos  Links*/
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;             /* Arredondamento bordas*/

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;           /* tirando a linha dos links*/
  font-weight: 500;

  transition: background 0.2s;
}

/* pseudo-selector// quando passar o mause em cima do botão*/
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/* Logos social links*/
#social-links {
  display: flex;
  justify-content: center;

  padding: 24px 0;

  font-size: 24px;
}
/* efeito hover logos alinhamento e acabamento*/
#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}
/* efeito hover logos cor*/
#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

/* media queries */
@media (min-width: 700px) {
  :root {
    --bg-url: url(./img/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./img/bg-desktop-light.jpg);
  }
}
/* Animação botão. Deslizar */  
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}